/* ===========================
STORIES
=========================== */

.stories-page{

padding:50px 8%;

}

.stories-container{

display:flex;

overflow-x:auto;

gap:20px;

margin-bottom:40px;

padding-bottom:15px;

}

.story{

text-align:center;

min-width:90px;

}

.story-circle{

width:80px;

height:80px;

border-radius:50%;

background:linear-gradient(135deg,#38bdf8,#8b5cf6);

display:flex;

justify-content:center;

align-items:center;

font-size:32px;

margin:auto;

cursor:pointer;

transition:.3s;

color:white;

}

.story-circle:hover{

transform:scale(1.08);

}

.story p{

margin-top:10px;

font-size:14px;

}

.story-view{

background:#1e293b;

padding:25px;

border-radius:20px;

text-align:center;

}

.story-view img{

width:100%;

border-radius:15px;

margin:20px 0;

}